<h1><%= @restaurant.name %></h1>

<div id='map' data-id="<%= @restaurant.id %>"></div>

<%= form_for [@restaurant, @review] do |f| %>
  <%= f.label :content, 'Review' %>
  <%= f.text_area :content %>

  <%= f.label :rating %>
  <%= f.text_field :rating %>

  <%= f.submit 'Submit' %>
<% end %>

<span class='rating'>
  <%= star_rating @restaurant.average_rating %>
</span>
<br>

<ul>
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>